
/* id Selectors */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Share+Tech+Mono&display=swap');

body {
  font-family: 'Monda', sans-serif;
  margin: 0;
  background: black;
}


#Container{
  position: fixed;
  height: 100%;
  width:100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#menu{
position: absolute;
width: 647px;
height: 672px;
left: 184px;
top: 169px;
}

#hull{
  width: 1440px;
  height: 1024px;
  align-items: center;
}

#Activate{
position: absolute;
width: 357px;
height: 357px;
left: 925px;
top: 155px;
}
/*You can have a max of four background images in one def*/


/*class selectors*/
.list {
    padding-top: 18px;
    padding-left: 8px;
    font-family:'Share Tech Mono', monospace;
    font-size: 2rem;
    color: #15AFD0;
    }

.bigbutton{
  height: 350px;
  width: 350px;
}

.bigbutton hover {
  background-image: url(PngButtonPressed.png);

}

.frame{
  background-image: url(Frame.png);
  position: fixed;
  object-fit: cover;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%
}
/* tag se;Selectors */
