
/* id Selectors */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300|Press+Start+2P|Share+Tech+Mono&display=swap');


body {
  color: #008F11 ;
  font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
  font-size: 14px;
  background: black;
  background-image: url({{url_for('static', filename='screenbackground.png')}});
}

p {
  color: #008F11 ;
  font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
  font-size: 14px;
  line-height: 1.45;
  }

  /* The typing effect */


input[type="text"] {
    background: transparent;
    border: 4px #008F11 solid;
    color: #008F11 ;
    font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
    font-size: 14px;

  }

input[type="text"]:focus {
    outline: none;
    color: : #008F11 ;
    font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
    font-size: 14px;
  }

input {
      outline: none;
      color: : #008F11 ;
      font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
      font-size: 14px;
    }


a {   color: black;
      background-color:#008F11;
      text-decoration:none;
      border: 2px #008F11 solid;
    }

a:hover{
      background-color:black;
      color: #008F11;
    }


#Container{
  height:auto;
  width:1000px;
  margin-left:85px;
  background-color: black;

}

#header{
  width: 1200px;
  height:200px;

}

#menu{
  max-width: 700px;
  min-width: 500px;
  height: 100px;
  margin-left: 171px;
  background: transparent;
  background-color: transparent;
}

#hull{
  width: 1440px;
  height: 1024px;
  align-items: center;
}

#Activate{
  width: 257px;
  height: 57px;
  margin-top: 15px;
  border: 5px #008F11 solid;
  background-color: #008F11;
  filter: blur(30);
}

#Timer{
  height: 200px;
  width: 300px;

}

#logo{
  height: 400px;
  width:400px;
}
/*You can have a max of four background images in one def*/


/*class selectors*/
.nextbutton{

}

a.bigbutton{
  height: 350px;
  width: 350px;
  background-image: url(PngButton.png);
  transition: background-image 0.5s;
  transition: color 0.5s;
}

a.bigbutton hover {
  background-image: url(PngButtonPressed.png);
  text-decoration: none;
  transition: background-color 0.5s;

}

.frame{
  /*background-image: url(Frame.png);*/
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  height: 100%;
  width: 100%;
  background-position: center;
  }


}


a.nextpage{
  outline: none;
  font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
  font-size: 14px;
  padding-top: 20px;
  color: black;
  background-color:#008F11;
  text-decoration:none;
  border: 2px #008F11 solid;
}

.nextpage:hover{
  background-color:black;
  color: #008F11;
}

/*img{
    height: auto;
    max-width: 100%;

}*/

@media (max-width: 1024px) { /* Specific to this particular image */

  #header{
    width: 1200px;
    height:200px;
    background-image: url({{url_for('static', filename='header2.png')}}");

  }

  body {
    color: #008F11 ;
    font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
    font-size: 10px;
    background: black;
    background-image: url({{url_for('static', filename='screenbackground.png')}});
  }

  p {
    color: #008F11 ;
    font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
    font-size: 10px;
    line-height: 1.45;
    }
}
/* tag se;Selectors */
