
/* id Selectors */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300|Press+Start+2P|Share+Tech+Mono&display=swap');


body {
  color: #008F11 ;
  font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
  font-size: 14px;
  background: black;
  line-height: 1.35;
}

p {
  color: #008F11 ;
  font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
  font-size: 14px;
  }

  /* The typing effect */


input[type="text"] {
    background: transparent;
    border: 4px #008F11 solid;
    color: #008F11 ;
    font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
    font-size: 14px;

  }

input[type="text"]:focus {
    outline: none;
    color: : #008F11 ;
    font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
    font-size: 14px;
  }

input {
      outline: none;
      color: : #008F11 ;
      font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
      font-size: 14px;
    }

#Container{
  height:auto;
  width:auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;

}

#menu{
  max-width: 700px;
  min-width: 500px;
  height: 500px;
  margin-top: 270px;
  margin-left: 100px;
  background: transparent;
  background-color: transparent;
}

#hull{
  width: 1440px;
  height: 1024px;
  align-items: center;
}

#Activate{
  width: 357px;
  height: 357px;
  left: 1020;
  top: 195px;
  border: 20px #008F11 solid;
  border-radius: 3000px;
  filter: blur(30);
  position: fixed;
}
/*You can have a max of four background images in one def*/


/*class selectors*/
.nextbutton{

}

.bigbutton{
  height: 350px;
  width: 350px;
  background-image: url(PngButton.png);
  transition: background-image 0.5s;
  transition: color 0.5s;
}

.bigbutton hover {
  background-image: url(PngButtonPressed.png);
  text-decoration: none;
  transition: background-color 0.5s;

}

.frame{
  /*background-image: url(Frame.png);*/
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  height: 100%;
  width: 100%;
  background-position: center;
  }


}


.nextpage{
  outline: none;
  font-family: 'Press Start 2P','IBM Plex Sans Condensed','Share Tech Mono', monospace;
  font-size: 14px;
  color: black;
  background-color:#008F11;
  text-decoration:none;
  border: 2px #008F11 solid;
}

.nextpage:hover{
  background-color:black;
  color: #008F11;
}

a.nextpage
{
  color: black;
  background-color:#008F11;
  text-decoration:none;
  border: 2px #008F11 solid;
}

a:hover{
  background-color:black;
  color: #008F11;
}

/*img{
    height: auto;
    max-width: 100%;

}*/

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {  /* 50% */
  }
}
/* tag se;Selectors */
