{% extends "base.html" %}

{% block title %}Die Wiki App 5000{% endblock %}

{% block content %}

  <body>

    <div id="menu">
      <p>Welcome {{name}}<br /><br />
      Die Wiki App 5000 is a machine that establishes a location to escape the matrix<br /><br />
       You will be taken to a random wikipedia pagewhere you will have to
        navigate the links till you reach the texit destination.<br />
        <br /><br />This is also known as the wikipedia challenge</p>

        <a href="" class="nextpage"><br /> <br /> <br />NEXT</a>

         <!-- have a timer start and the completion url appear -->


    </div>

  {%endblock%}
