{% extends "base.html" %}

{% block title %}Die Wiki App 5000{% endblock %}

{% block content %}

    <div id="menu">
      <p>Welcome {{alias}}<br /><br />
      Die Wiki App 5000 is a machine that establishes a location to escape the matrix<br /><br />
       THE RULES:
       <br />
       <br />   All players will start on an random page on Wikipedia.<br />
       <br />   Players will race to "the exit" which is given from a previous challenger.<br />
       <br />   Players can only click links within the content section. <br />
       <br />   They cannot click links from the menu or sidebar.<br />
       <br />   Players cannot use browser navigation meaning no hitting the back or forward button.<br />
       <br />   Lastly, players cannot use the keyboard.<br/><br /><br />
       This is also known as the wikipedia challenge<br /> <br /> <br /></p>

        <a href="/challenge" class="nextpage">NEXT</a>

         <!-- have a timer start and the completion url appear -->


    </div>

    <div id="Activate">
      <img src="" alt="">
    </div>


  {%endblock%}
