{% extends "base.html" %}

{% block title %}Die Wiki App 5000{% endblock %}

{% block content %}

  <body>

    <div id="menu">
      <p>contacting challenger..........<br>
        Creating pathways of infinite knowledge....................<br>
        accessing alien database......<br>
        00000000000101111110101010111100101010101010101100010101010101010101010101010101010101010101010101001010101<br>
        <br><br> Prepare yourself <br><br>
        <!-- previous contestent --> has challenged you to find <br><br>
         <!--contestents challenge entry--><br><br><br> PRESS BUTTON TO START </p>

         <div id="Activate">
           <a href="https://en.wikipedia.org/wiki/Special:random" class="bigbutton"></a>
         </div>


         <!-- have a timer start and the completion url appear -->


    </div>

  {%endblock%}
