{% extends "base.html" %}

{% block title %}Die Wiki Ap 5000{% endblock %}

{% block content %}
<div id="container">

  <div class="frame">



      <div id="menu">

        <p>booting............</p>
        <p><br />Loading up the knowledge of the univers0</p>
        <p>Accessing the Matrix</p>
        <p>1011101010101111001010101010101</p>
        <p>
          <br /><br />
          Welcome
          <br /><br />
          Please enter your code name
        </p>

        <form action="/brief" method="post">
          <div class="inputfield">
            <p>
              <br /><br />
              <label for="name">--&gt;</label>
              <input type="text" id="name" name="name" required autofocus />
            </p>
          </div>

          <<input type= "submit" value="username" ><br /> <br /> <br />NEXT</a>
        </form>


      </div>

      <div id="Activate">
        <img src="" alt="">
      </div>



</div>

  {%endblock%}
