{% extends "base.html" %}

{% block title %}Die Wiki Ap 5000{% endblock %}

{% block content %}

  <body>

    <div id="menu">
      <p>booting............<br>
        Loading up the knowledge of the universe<br>
        Accessing the Matrix<br>
        101110101010111100101010101010101100010101010101010101010101010101010101010101010101001010101<br>
        <br><br> Welcome <br><br> Please enter your code name </p>

        <form action="/confirm" method="post">

        <div class="inputfield">
          <p>
            <label for="name">--></label>
            <input type="text" id="name" name="name" required autofocus />
          </p>

          <div>
        </form>

        <div id="Activate">
          <a href="" class="bigbutton"></a>
        </div>

    </div>

  {%endblock%}
